extends layout

block content
  h1 登录

  if error
    p.notice.error= error

  section.card
    form(action='/login', method='post')
      p
        label(for='username') 用户名
        input#username(type='text', name='username', required=true)
      p
        label(for='password') 密码
        input#password(type='password', name='password', required=true)
      p
        button(type='submit') 登录
  p
    | 还没有账号？
    a(href='/register') 去注册
